.container {
  width: 100%;
  height: 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  position: fixed;
  z-index: 999;

  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.text {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
}

.textHover {
  &:hover {
    cursor: pointer;
    color: var(--primary-color);
    transition: color 0.3s;
  }
}

.icon {
  font-size: 2rem;
  color: #000;
  margin-left: 1rem;
}

.dropdownProduct {
  cursor: pointer;
  padding: 2rem 0px;
}

.isTippyOn {
  color: var(--primary-color);
  transition: color 0.3s;
}

.dropdownMenu {
  font-size: var(--small-fontSize);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  width: 22rem;
  background-color: #fff;

  .productTypeWrapper {
    display: block;
    padding: 1.5rem 2rem;

    &:hover {
      color: var(--primary-color);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    p {
      font-size: var(--text-fontSize);
      font-weight: 600;
    }
  }
}

.seeAllSearchProduct {
  font-size: var(--text-fontSize);
  margin-top: 1rem;
}

.actions {
  // width: 15rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .actionBtn {
    color: var(--primary-color);
    font-size: 3rem;
    height: 100%;
    display: flex;
    align-items: center;

    .actionAvatar {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

.loginBtn {
  width: 13rem;
  height: 4rem;

  border-radius: 10rem;
  background: linear-gradient(to right, var(--second-color), #ff3778);
  color: white;
  font-size: var(--small-fontSize);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
