.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--gray-color);
}

.container {
  width: 1300px;
  height: 760px;
  border-radius: 5rem;
  display: flex;
  background-color: #fff;

  h1,
  p,
  span,
  input {
    color: #3e334e;
  }
}

.loginForm {
  width: 100%;
  padding: 0 10rem;

  h1 {
    font-size: var(--title-fontSize);
  }

  p {
    font-size: var(--text-fontSize);
  }

  input {
    caret-color: var(--primary-color);
  }
}

.nameWrapper {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  width: 20rem;
}

.name {
  margin-left: 2rem;
}

.text {
  font-size: var(--text-fontSize);
}

.form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputWrapper {
  height: 13rem;

  p {
    color: #bf1650;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }
}

.input {
  height: 5.5rem;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: var(--text-fontSize);
  margin: 1rem 0;
  display: flex;
  border: 1px solid #afa2c3;

  &:focus-within {
    border-color: var(--second-color);
  }

  input {
    border: none;
    flex: 1;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

.checkSaveBtnWrapper {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkSaveBtn {
  width: 1.5rem;
  height: 1.5rem;
  background: linear-gradient(to right, #a03cea, #fb6564);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;

  color: #fff;
  font-size: 1rem;
}

.forgotPasswordBtn {
  color: #3e334e;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #3e334e;
  }
}

.buttonWrapper1 {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.button1 {
  width: 20rem;
  height: 5rem;
  background: linear-gradient(
    to right,
    var(--second-color),
    var(--primary-color)
  );
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapper2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.button2 {
  width: 21rem;
  height: 4rem;
  border-radius: 2rem;
  border: 1px solid #afa2c3;
  color: #3e334e;
}

// @media only screen and (max-width: 640px) {
// }

// @media only screen and (min-width: 641px) and (max-width: 768px) {
// }

// @media only screen and (min-width: 769px) and (max-width: 1024px) {
// }

// @media only screen and (min-width: 1024px) and (max-width: 1280px) {
//   .container {
//     width: 800px;
//     height: 600px;
//   }
//   .imgLogin {
//     width: 300px;
//   }
//   .loginForm {
//     padding: 0 3rem;
//   }
// }

// @media only screen and (min-width: 1280px) {
//   .container {
//     width: 1200px;
//     height: 760px;
//   }
//   .loginForm {
//     padding: 0 13rem;
//   }
// }
